### The curse of dimensionality: BBC
Here is pathway toward aggregating, grouping and narrowing down your dataframe. (There is no right way--there are just ways that work better than others.)

In [1]:
sample_BBC = [
[' Mulholland Drive ',  'David Lynch',  '2001',  '1',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '2',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' The Tree of Life ',  'Terrence Malick',  '2011',  '3',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Yi Yi: A One and a Two ',  'Edward Yang',  '2000',  '4',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Goodbye to Language ',  'Jean-Luc Godard',  '2014',  '5',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' The White Meadows ',  'Mohammad Rasoulof',  '2009',  '6',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Night Across the Street ',  'Raoul Ruiz',  '2012',  '7',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Certified Copy ',  'Abbas Kiarostami',  '2010',  '8',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Sparrow ',  'Johnnie To',  '2008',  '9',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' Fados ',  'Carlos Saura',  '2007',  '10',  'Simon Abrams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '1',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Eternal Sunshine of the Spotless Mind ',  'Michel Gondry',  '2004',  '2',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Syndromes and a Century ',  'Apichatpong Weerasethakul',  '2006',  '3',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Spirited Away ',  'Hayao Miyazaki',  '2001',  '4',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The Act of Killing ',  'Joshua Oppenheimer',  '2012',  '5',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The Grand Budapest Hotel ',  'Wes Anderson',  '2014',  '6',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The New World ',  'Terrence Malick',  '2004',  '7',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Certified Copy ',  'Abbas Kiarostami',  '2010',  '8',  'Sam Adams',  'Freelance film critic',  'US'], 
[' The World ',  'Jia Zhangke',  '2004',  '9',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Elephant ',  'Gus Van Sant',  '2003',  '10',  'Sam Adams',  'Freelance film critic',  'US'], 
[' Zero Dark Thirty ',  'Kathryn Bigelow',  '2012',  '1',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' A History of Violence ',  'David Cronenberg',  '2005',  '2',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' The Grand Budapest Hotel ',  'Wes Anderson',  '2014',  '3',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Stories We Tell ',  'Sarah Polley',  '2012',  '4',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Casino Royale ',  'Martin Campbell',  '2006',  '5',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Eternal Sunshine of the Spotless Mind ',  'Michel Gondry',  '2004',  '6',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Tabu ',  'Miguel Gomes',  '2012',  '7',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Snow White ',  'Pablo Berger',  '2012',  '8',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Frozen River ',  'Courtney Hunt',  '2008',  '9',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' Gosford Park ',  'Robert Altman',  '2001',  '10',  'Thelma Adams',  'Freelance film critic',  'US'], 
[' In the Mood for Love ',  'Wong Kar-wai',  '2000',  '1',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Mulholland Drive ',  'David Lynch',  '2001',  '2',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Inception ',  'Christopher Nolan',  '2010',  '3',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[" Pan's Labyrinth ",  'Guillermo Del Toro',  '2006',  '4',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Caché ',  'Michael Haneke',  '2005',  '5',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Grizzly Man ',  'Werner Herzog',  '2005',  '6',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' 4 Months, 3 Weeks & 2 Days ',  'Cristian Mungiu',  '2007',  '7',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' Holy Motors ',  'Leos Carax',  '2012',  '8',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' The Last of the Unjust ',  'Claude Lanzmann',  '2013',  '9',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' There Will Be Blood ',  'Paul Thomas Anderson',  '2007',  '10',  'Arturo Aguilar',  'Rolling Stone Mexico',  'Mexico'], 
[' The Piano Teacher ',  'Michael Haneke',  '2001',  '1',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Margaret ',  'Kenneth Lonergan',  '2011',  '2',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' American Psycho ',  'Mary Harron',  '2000',  '3',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' 4 Months, 3 Weeks & 2 Days ',  'Cristian Mungiu',  '2007',  '4',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Caché ',  'Michael Haneke',  '2005',  '5',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Mulholland Drive ',  'David Lynch',  '2001',  '6',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Lourdes ',  'Jessica Hausner',  '2009',  '7',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Red Road ',  'Andrea Arnold',  '2006',  '8',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Boyhood ',  'Richard Linklater',  '2014',  '9',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' Tony Manero ',  'Pablo Larraín',  '2008',  '10',  'Matthew Anderson',  'BBC Culture',  'UK'], 
[' No Country For Old Men ',  'Joel and Ethan Coen',  '2007',  '1',  'Tim Appelo',  'The Wrap',  'US'], 
[' Spirited Away ',  'Hayao Miyazaki',  '2001',  '2',  'Tim Appelo',  'The Wrap',  'US'], 
[' A Separation ',  'Asghar Farhadi',  '2011',  '3',  'Tim Appelo',  'The Wrap',  'US'], 
[" Pan's Labyrinth ",  'Guillermo Del Toro',  '2006',  '4',  'Tim Appelo',  'The Wrap',  'US'], 
[' Finding Nemo ',  'Andrew Stanton and Lee Unkrich',  '2003',  '5',  'Tim Appelo',  'The Wrap',  'US'], 
[' Hero ', 'Zhang Yimou', '2002', '6', 'Tim Appelo', 'The Wrap', 'US'], 
[' The Wolf of Wall Street ',  'Martin Scorsese',  '2013',  '7',  'Tim Appelo',  'The Wrap',  'US'], 
[' Mother ', 'Bong Joon-ho', '2009', '8', 'Tim Appelo', 'The Wrap', 'US'], 
[' The Bourne Ultimatum ',  'Paul Greengrass',  '2007',  '9',  'Tim Appelo',  'The Wrap',  'US'], 
[' Traffic ',  'Steven Soderbergh',  '2000',  '10',  'Tim Appelo',  'The Wrap',  'US'], 
[' These Encounters of Theirs ',  'Danièle Huillet and Jean-Marie Straub',  '2006',  '1',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Vincere ',  'Marco Bellocchio',  '2009',  '2',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Le quattro volte ',  'Michelangelo Frammartino',  '2010',  '3',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' The Profession of Arms ',  'Ermanno Olmi',  '2001',  '4',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Gostanza da Libbiano ',  'Paolo Benvenuti',  '2000',  '5',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Storia di una donna amata e di un assassino gentile ',  'Luigi M. Faccini',  '2009',  '6',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' At the First Breath of Wind ',  'Franco Piavoli',  '2003',  '7',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Sangue ',  'Pippo Delbono',  '2013',  '8',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Terra ',  'Marco De Angelis and Antonio Di Trapani',  '2015',  '9',  'Adriano Aprà',  'Film historian',  'Italy'], 
[' Oh! Man ',  'Yervant Gianikian and Angela Ricci Lucchi',  '2004',  '10',  'Adriano Aprà',  'Film historian',  'Italy']
]

Bring that into pandas

In [14]:
import numpy as np
import pandas as pd
col_names = ['movie', 'director', 'm_year', 'crit_rank','critic','crit_org','crit_cn']
df = pd.DataFrame.from_records(sample_BBC, columns=col_names)

In [3]:
df.head(20)

,movie,director,m_year,crit_rank,critic,crit_org,crit_cn
0,Mulholland Drive,David Lynch,2001,1,Simon Abrams,Freelance film critic,US
1,In the Mood for Love,Wong Kar-wai,2000,2,Simon Abrams,Freelance film critic,US
2,The Tree of Life,Terrence Malick,2011,3,Simon Abrams,Freelance film critic,US
3,Yi Yi: A One and a Two,Edward Yang,2000,4,Simon Abrams,Freelance film critic,US
4,Goodbye to Language,Jean-Luc Godard,2014,5,Simon Abrams,Freelance film critic,US
5,The White Meadows,Mohammad Rasoulof,2009,6,Simon Abrams,Freelance film critic,US
6,Night Across the Street,Raoul Ruiz,2012,7,Simon Abrams,Freelance film critic,US
7,Certified Copy,Abbas Kiarostami,2010,8,Simon Abrams,Freelance film critic,US
8,Sparrow,Johnnie To,2008,9,Simon Abrams,Freelance film critic,US
9,Fados,Carlos Saura,2007,10,Simon Abrams,Freelance film critic,US
10,In the Mood for Love,Wong Kar-wai,2000,1,Sam Adams,Freelance film critic,US
11,Eternal Sunshine of the Spotless Mind,Michel Gondry,2004,2,Sam Adams,Freelance film critic,US
12,Syndromes and a Century,Apichatpong Weerasethakul,2006,3,Sam Adams,Freelance film critic,US
13,Spirited Away,Hayao Miyazaki,2001,4,Sam Adams,Freelance film critic,US
14,The Act of Killing,Joshua Oppenheimer,2012,5,Sam Adams,Freelance film critic,US
15,The Grand Budapest Hotel,Wes Anderson,2014,6,Sam Adams,Freelance film critic,US
16,The New World,Terrence Malick,2004,7,Sam Adams,Freelance film critic,US
17,Certified Copy,Abbas Kiarostami,2010,8,Sam Adams,Freelance film critic,US
18,The World,Jia Zhangke,2004,9,Sam Adams,Freelance film critic,US
19,Elephant,Gus Van Sant,2003,10,Sam Adams,Freelance film critic,US

### SAVE IT: BACK UP YOUR DATAFRAMES!! 

Always backup your data frames (export as csv)!
If you have reached this point you don't want to go back and re-scrape ever!!!!

In [4]:
df.to_csv(r'backup_BBC1.csv', index = False)

### Okay, now to explore: 

Right now there's only one Field with the country--the critics country. Let's group by that.

In [5]:
df.groupby('crit_cn')['critic'].nunique()

crit_cn
Italy     1
Mexico    1
UK        1
US        4
Name: critic, dtype: int64

In [6]:
#Narrowing down my data into a smaller frame

In [7]:
df1 = df.groupby('crit_cn')['movie'].value_counts().reset_index(name='count')
df1.tail(60)

   crit_cn                                              movie  count
5    Italy   Storia di una donna amata e di un assassino g...      1
6    Italy                                             Terra       1
7    Italy                            The Profession of Arms       1
8    Italy                        These Encounters of Theirs       1
9    Italy                                           Vincere       1
10  Mexico                        4 Months, 3 Weeks & 2 Days       1
11  Mexico                                             Caché       1
12  Mexico                                       Grizzly Man       1
13  Mexico                                       Holy Motors       1
14  Mexico                              In the Mood for Love       1
15  Mexico                                         Inception       1
16  Mexico                                  Mulholland Drive       1
17  Mexico                                   Pan's Labyrinth       1
18  Mexico                            The Last of the Unjust       1
19  Mexico                               There Will Be Blood       1
20      UK                        4 Months, 3 Weeks & 2 Days       1
21      UK                                   American Psycho       1
22      UK                                           Boyhood       1
23      UK                                             Caché       1
24      UK                                           Lourdes       1
25      UK                                          Margaret       1
26      UK                                  Mulholland Drive       1
27      UK                                          Red Road       1
28      UK                                 The Piano Teacher       1
29      UK                                       Tony Manero       1
30      US                                    Certified Copy       2
31      US                          The Grand Budapest Hotel       2
32      US             Eternal Sunshine of the Spotless Mind       2
33      US                                     Spirited Away       2
34      US                              In the Mood for Love       2
35      US                            No Country For Old Men       1
36      US                           Night Across the Street       1
37      US                                  Mulholland Drive       1
38      US                                            Mother       1
39      US                                   Pan's Labyrinth       1
40      US                                      Gosford Park       1
41      US                               Goodbye to Language       1
42      US                                      Frozen River       1
43      US                                      Finding Nemo       1
44      US                                             Fados       1
45      US                                              Hero       1
46      US                                           Sparrow       1
47      US                                        Snow White       1
48      US                                   Stories We Tell       1
49      US                           Syndromes and a Century       1
50      US                                              Tabu       1
51      US                                The Act of Killing       1
52      US                              The Bourne Ultimatum       1
53      US                                     The New World       1
54      US                                  The Tree of Life       1
55      US                                 The White Meadows       1
56      US                           The Wolf of Wall Street       1
57      US                                         The World       1
58      US                                           Traffic       1
59      US                            Yi Yi: A One and a Two       1
60      US                                          Elephant       1
61      US                                     Casino Royale       1
62      US                                      A Separation       1
63      US                             A History of Violence       1
64      US                                  Zero Dark Thirty       1

The cell above has the output I want,  but I need it to look nice and be combined in a single column.  This is how we build the **"article:"** field of our geojson doc. You need to combine columns of data into readable text.

In [8]:
#Moving the values from the two right columns into a new column
#One that human readers can understand
df1["string"] = df1["movie"] + ": " + df1["count"].astype(str) + np.where(df1["count"]>1, ' votes', ' vote')
df1.tail(40)

,crit_cn,movie,count,string
25,UK,Margaret,1,Margaret : 1 vote
26,UK,Mulholland Drive,1,Mulholland Drive : 1 vote
27,UK,Red Road,1,Red Road : 1 vote
28,UK,The Piano Teacher,1,The Piano Teacher : 1 vote
29,UK,Tony Manero,1,Tony Manero : 1 vote
30,US,Certified Copy,2,Certified Copy : 2 votes
31,US,The Grand Budapest Hotel,2,The Grand Budapest Hotel : 2 votes
32,US,Eternal Sunshine of the Spotless Mind,2,Eternal Sunshine of the Spotless Mind : 2 votes
33,US,Spirited Away,2,Spirited Away : 2 votes
34,US,In the Mood for Love,2,In the Mood for Love : 2 votes
35,US,No Country For Old Men,1,No Country For Old Men : 1 vote
36,US,Night Across the Street,1,Night Across the Street : 1 vote
37,US,Mulholland Drive,1,Mulholland Drive : 1 vote
38,US,Mother,1,Mother : 1 vote
39,US,Pan's Labyrinth,1,Pan's Labyrinth : 1 vote
40,US,Gosford Park,1,Gosford Park : 1 vote
41,US,Goodbye to Language,1,Goodbye to Language : 1 vote
42,US,Frozen River,1,Frozen River : 1 vote
43,US,Finding Nemo,1,Finding Nemo : 1 vote
44,US,Fados,1,Fados : 1 vote
45,US,Hero,1,Hero : 1 vote
46,US,Sparrow,1,Sparrow : 1 vote
47,US,Snow White,1,Snow White : 1 vote
48,US,Stories We Tell,1,Stories We Tell : 1 vote
49,US,Syndromes and a Century,1,Syndromes and a Century : 1 vote
50,US,Tabu,1,Tabu : 1 vote
51,US,The Act of Killing,1,The Act of Killing : 1 vote
52,US,The Bourne Ultimatum,1,The Bourne Ultimatum : 1 vote
53,US,The New World,1,The New World : 1 vote
54,US,The Tree of Life,1,The Tree of Life : 1 vote
55,US,The White Meadows,1,The White Meadows : 1 vote
56,US,The Wolf of Wall Street,1,The Wolf of Wall Street : 1 vote
57,US,The World,1,The World : 1 vote
58,US,Traffic,1,Traffic : 1 vote
59,US,Yi Yi: A One and a Two,1,Yi Yi: A One and a Two : 1 vote
60,US,Elephant,1,Elephant : 1 vote
61,US,Casino Royale,1,Casino Royale : 1 vote
62,US,A Separation,1,A Separation : 1 vote
63,US,A History of Violence,1,A History of Violence : 1 vote
64,US,Zero Dark Thirty,1,Zero Dark Thirty : 1 vote

This is nice but I need to I have only **one row per country**. I do another group, and combine everything together. And when I do that I throw some HTML into there.

In [9]:
#this is just two different ways to do this:
#one using % as the wild card
#and one using .format and {0} as the wild card

#output = df1.groupby('crit_cn')['string'].apply(lambda x: "<div id='movie'><h1><b>Top Movies</b></h1><P>%s</P></div>" % '</p><p> '.join(x)).reset_index(name='properties.article')
output = df1.groupby('crit_cn')['string'].apply(lambda x: "<div class='movie_list'><h1><b>Top Movies</b></h1><P>{0}</P></div>".format('</p><p> '.join(x))).reset_index(name='properties.article')
output

  crit_cn                                 properties.article
0   Italy  <div class='movie_list'><h1><b>Top Movies</b><...
1  Mexico  <div class='movie_list'><h1><b>Top Movies</b><...
2      UK  <div class='movie_list'><h1><b>Top Movies</b><...
3      US  <div class='movie_list'><h1><b>Top Movies</b><...

In [10]:
output.iloc[3]['properties.article']

"<div class='movie_list'><h1><b>Top Movies</b></h1><P> Certified Copy : 2 votes</p><p>  The Grand Budapest Hotel : 2 votes</p><p>  Eternal Sunshine of the Spotless Mind : 2 votes</p><p>  Spirited Away : 2 votes</p><p>  In the Mood for Love : 2 votes</p><p>  No Country For Old Men : 1 vote</p><p>  Night Across the Street : 1 vote</p><p>  Mulholland Drive : 1 vote</p><p>  Mother : 1 vote</p><p>  Pan's Labyrinth : 1 vote</p><p>  Gosford Park : 1 vote</p><p>  Goodbye to Language : 1 vote</p><p>  Frozen River : 1 vote</p><p>  Finding Nemo : 1 vote</p><p>  Fados : 1 vote</p><p>  Hero : 1 vote</p><p>  Sparrow : 1 vote</p><p>  Snow White : 1 vote</p><p>  Stories We Tell : 1 vote</p><p>  Syndromes and a Century : 1 vote</p><p>  Tabu : 1 vote</p><p>  The Act of Killing : 1 vote</p><p>  The Bourne Ultimatum : 1 vote</p><p>  The New World : 1 vote</p><p>  The Tree of Life : 1 vote</p><p>  The White Meadows : 1 vote</p><p>  The Wolf of Wall Street : 1 vote</p><p>  The World : 1 vote</p><p>  Traffic : 1 vote</p><p>  Yi Yi: A One and a Two : 1 vote</p><p>  Elephant : 1 vote</p><p>  Casino Royale : 1 vote</p><p>  A Separation : 1 vote</p><p>  A History of Violence : 1 vote</p><p>  Zero Dark Thirty : 1 vote</P></div>"

Now we need our **headline**:  I'm going to have it be the number of critics in the country. I make a mini dataframe That counts the number of critics, and I merge it with my output dataframe.

In [11]:
crits = df.groupby('crit_cn')['critic'].nunique().reset_index(name='properties.headline')
crits

  crit_cn  properties.headline
0   Italy                    1
1  Mexico                    1
2      UK                    1
3      US                    4

In [12]:
output = output.merge(crits, how='left', on='crit_cn')

In [13]:
output

,crit_cn,properties.article,properties.headline
0,Italy,<div class='movie_list'><h1><b>Top Movies</b><...,1
1,Mexico,<div class='movie_list'><h1><b>Top Movies</b><...,1
2,UK,<div class='movie_list'><h1><b>Top Movies</b><...,1
3,US,<div class='movie_list'><h1><b>Top Movies</b><...,4

In [15]:
#Turn that number and into something readable.
#Though here I don't pay any attention to the English language
#output['properties.headline'] = output['properties.headline'].map(str) + " critic"
output['properties.headline'] = output['properties.headline'].astype(str) + np.where(output["properties.headline"]>1, ' critics', ' critic')

In [16]:
output

,crit_cn,properties.article,properties.headline
0,Italy,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic
1,Mexico,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic
2,UK,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic
3,US,<div class='movie_list'><h1><b>Top Movies</b><...,4 critics

In [17]:
#Add some color (this not the way to do this!! but I'm just showing you the column.
#the color #35476E is a hexadecimal code for colors 35 is the amount of Red, 47 Green, 6E Blue 
# #FFFFFF is white and #000000 is black
output['properties.color'] = "#35476E"
output

,crit_cn,properties.article,properties.headline,properties.color
0,Italy,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic,#35476E
1,Mexico,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic,#35476E
2,UK,<div class='movie_list'><h1><b>Top Movies</b><...,1 critic,#35476E
3,US,<div class='movie_list'><h1><b>Top Movies</b><...,4 critics,#35476E

Here's how you extract the directors from your data frame, to look for more info.

In [18]:
#df.sort_values(by=('director'))
d_list = list(df['director'].unique())
d_list.sort()
d_list

['Abbas Kiarostami',
 'Andrea Arnold',
 'Andrew Stanton and Lee Unkrich',
 'Apichatpong Weerasethakul',
 'Asghar Farhadi',
 'Bong Joon-ho',
 'Carlos Saura',
 'Christopher Nolan',
 'Claude Lanzmann',
 'Courtney Hunt',
 'Cristian Mungiu',
 'Danièle Huillet and Jean-Marie Straub',
 'David Cronenberg',
 'David Lynch',
 'Edward Yang',
 'Ermanno Olmi',
 'Franco Piavoli',
 'Guillermo Del Toro',
 'Gus Van Sant',
 'Hayao Miyazaki',
 'Jean-Luc Godard',
 'Jessica Hausner',
 'Jia Zhangke',
 'Joel and Ethan Coen',
 'Johnnie To',
 'Joshua Oppenheimer',
 'Kathryn Bigelow',
 'Kenneth Lonergan',
 'Leos Carax',
 'Luigi M. Faccini',
 'Marco Bellocchio',
 'Marco De Angelis and Antonio Di Trapani',
 'Martin Campbell',
 'Martin Scorsese',
 'Mary Harron',
 'Michael Haneke',
 'Michel Gondry',
 'Michelangelo Frammartino',
 'Miguel Gomes',
 'Mohammad Rasoulof',
 'Pablo Berger',
 'Pablo Larraín',
 'Paolo Benvenuti',
 'Paul Greengrass',
 'Paul Thomas Anderson',
 'Pippo Delbono',
 'Raoul Ruiz',
 'Richard Linklater',
 'Robert Altman',
 'Sarah Polley',
 'Steven Soderbergh',
 'Terrence Malick',
 'Werner Herzog',
 'Wes Anderson',
 'Wong Kar-wai',
 'Yervant Gianikian and Angela Ricci Lucchi',
 'Zhang Yimou']